<body class="whole-body">
<header>
    <div class ="main-top">Goals</div>
</header>

<main>
    <div layout="row">

    <!-- Managing Goals Card -->
        <div class="first-sec">
        <mat-card> <mat-card-title class="goal-title">Managing Goals</mat-card-title>
            <mat-card-subtitle class="goal-subtitle"></mat-card-subtitle>
            <mat-card-content class="goal-content">
                <li class="content-item"><button mat-button class="goal-button"><mat-icon id="add-icon">add</mat-icon>Create</button></li>
                <li class="content-item"><button mat-button class="goal-button"><mat-icon id="edit-icon">create</mat-icon>Edit</button></li>
                <li class="content-item"><button mat-button class="goal-button"><mat-icon id="delete-icon">delete_forever</mat-icon>Delete</button></li>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Your Goals Section -->
        <div class="second-sec">
        <mat-card>
            <mat-card-title class="your-goals-title">Your Goals</mat-card-title>
            <mat-card-subtitle class="your-goals-subtitle">All of your goals are displayed here.</mat-card-subtitle>
            <mat-card-content>
                <mat-form-field>
                    <input matInput id="goalUserId" #input type="number" placeholder="Enter your user id" (input)="goalUserId = $event.target.value">
                </mat-form-field>
                <button mat-raised-button id="submit" color="primary" #input type="button" (click)="loadService()">Submit</button>

                <mat-accordion class="your-goals-content" *ngIf="goals; else goalsError">
                    <mat-expansion-panel #elem class="goals" *ngFor="let goal of this.filterGoals(null, null, null)">
                        <mat-expansion-panel-header>
                            <mat-panel-title matTooltip="email: " ></mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-panel-description>Goal: {{goal.goal}} </mat-panel-description>
                    </mat-expansion-panel>
                </mat-accordion>
                <ng-template #goalsError>
                    <mat-error>
                        No goals could be found. You may not have any goals, the server could potentially be down, or there could be network issues.
                    </mat-error>
                    <mat-error>
                        Please wait a bit and try again. If the problem persists, verify that you've added at least one goal.
                    </mat-error>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </div>
    </div>
</main>
</body>




<!--<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">

        <mat-card>
            <mat-card-title id="goals-title">Goals!</mat-card-title>
            <mat-card-subtitle>this is a card, for goals.</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
                card content, for gooooooools
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title id="goals-card">Goals!</mat-card-title>
            <mat-card-subtitle>this is a card, for goals.</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
                card content, for gooooooools
            </mat-card-content>
        </mat-card>
    </div>
</div>-->
